<div class="max-w-md mx-auto mt-10 flex justify-center flex-col">
  <h1 class="font-semibold text-4xl text-center ">Trending</h1>
  <p class="mb-4 text-gray-500 text-center">The most popular searches right now</p>
  <%= render partial: "search", locals: { searches: @trending } %>
</div>
